In [9]:
import pandas as pd
import psycopg

pd.set_option('display.max_columns', None)

with psycopg.connect("dbname=car_search user=randomname password=kejiyol") as conn:
    result = pd.read_sql("SELECT * FROM cars;", conn)
    display(result)

In [41]:
with psycopg.connect("dbname=car_search user=randomname password=kejiyol") as conn:
    with conn.cursor() as cur:
        deletion_row = ['gear_box','length','width','height', 'weight', 'wheel_base', 'front_suspension', 'rear_suspension', 'front_brakers', 'rear_brakers', 'front_tires', 'rear_tires', 'fuel_urban', 'fuel_extra_urban', 'fuel_combined', 'fuel_volume']
        for field in deletion_row:
            cur.execute(f"UPDATE all_cars SET {field}=NULL WHERE {field} LIKE '%n/d%'")

In [39]:
with psycopg.connect("dbname=car_search user=kaiserman password=kejiyol") as conn:
    with conn.cursor() as cur:
        df = pd.read_sql("SELECT * FROM cars;", conn)
        # print(df.columns)
        # i = 0
        # display(pd.read_sql("SELECT marca, modelo, mod, COUNT(mod) FROM cars GROUP BY mod;", conn))
        # for column in df.columns:
            # result = pd.read_sql(f"SELECT DISTINCT {column} FROM cars;", conn)
            # display(result)

/home/kaiserman/dev/car_search/data_science_stuff/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(